<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="Change_return_time">
		<title>Change return time</title>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
					<label>User :</label>
					<font>
						<size>12</size>
						<style>normal</style>
						<weight>normal</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>@Arial Unicode MS</face>
					</font>
				</object>
				<flag>wxALL|wxALIGN_LEFT</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
					<label>E-mial :</label>
					<font>
						<size>12</size>
						<style>normal</style>
						<weight>normal</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>@Arial Unicode MS</face>
					</font>
				</object>
				<flag>wxALL|wxALIGN_LEFT</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
					<label>MovieTital</label>
					<font>
						<size>12</size>
						<style>normal</style>
						<weight>normal</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>@Arial Unicode MS</face>
					</font>
				</object>
				<flag>wxALL|wxALIGN_LEFT</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
					<label>Relent Date :</label>
					<font>
						<size>12</size>
						<style>normal</style>
						<weight>normal</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>@Arial Unicode MS</face>
					</font>
				</object>
				<flag>wxALL|wxALIGN_LEFT</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
					<label>New Time :</label>
					<font>
						<size>12</size>
						<style>normal</style>
						<weight>normal</weight>
						<underlined>0</underlined>
						<family>swiss</family>
						<face>@Arial Unicode MS</face>
					</font>
				</object>
				<flag>wxALL|wxALIGN_LEFT</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
							<label>Number of new day</label>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="SpinCtrl1" member="yes">
							<value>0</value>
							<handler function="OnSpinCtrl1Change" entry="EVT_SPINCTRL" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
							<label>Save</label>
							<handler function="OnButton1Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
							<label>Cancel</label>
							<handler function="OnButton2Click" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
